<header>

  <div class="px-3 py-2 text-white bg-secondary text-white ">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="/images/corinthians-4066730_960_720.webp" alt="Dashboard" height="100" class="d-block mx-auto mb-1">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          
          <li>
            <a href="." class="nav-link text-white text-center">
              <img src="/images/6583566.png" alt="Dashboard" height="24" class="d-block mx-auto mb-1">
              Dashboard
            </a>
          </li>
          
          <li>
            <a href="clientes" class="nav-link text-white">
              <img src="/images/person-male.png" alt="Clientes" height="24" class="d-block mx-auto mb-1">
              Clientes
            </a>
          </li>
          <li>
            <a href="produtos" class="nav-link text-white">
              <img src="/images/box.png" alt="Produtos" height="24" class="d-block mx-auto mb-1">
              Produtos
            </a>
          </li>
          <li>
            <a href="pedidos" class="nav-link text-white">
              <img src="/images/send.png" alt="Pedidos" height="24" class="d-block mx-auto mb-1">
              Pedidos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
</header>

<div class="b-example-divider"></div>
</main>


  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</body>
</html>